language: ruby

before_install:
  - gem install bundler

cache: bundler

sudo: false

script:
  - bundle exec rspec

rvm:
  - 2.0.0
  - 2.1.2
  - 2.1.5
  - 2.2

addons:
  code_climate:
    repo_token: 868adb2fbaf42e5f24e170dee9e89a4385a181dc0de2c9f61b288eb4c40de307